<div [ngClass]="theme" class="container-fluids">

  <app-profile-header *ngIf="usuario" [usuario]="usuario"></app-profile-header>

  <nav class="sidebar sidebar-offcanvas" *ngIf="theme === 'bg-dark text-white'">
    <ul class="nav d-flex justify-content-between px-3">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="post" routerLinkActive="text-white">
          <span class="menu-title">Tweets</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="media" routerLinkActive="text-white">
          <span class="menu-title">Media</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="shared" routerLinkActive="text-white">
          <span class="menu-title">Likes y Retweets</span>
        </a>
      </li>


    </ul>
  </nav>

  <nav class="sidebar sidebar-offcanvas" *ngIf="theme === 'bg-white text-dark'">
    <ul class="nav d-flex justify-content-between px-3">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="post" routerLinkActive="text-dark">
          <span class="menu-title">Tweets</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="media" routerLinkActive="text-dark">
          <span class="menu-title">Media</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="shared" routerLinkActive="text-dark">
          <span class="menu-title">Likes y Shares</span>
        </a>
      </li>


    </ul>
  </nav>

  <hr class="mt-0">

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

</div>
