.noscrollable{
  overflow: scroll;
  max-height: 25vh;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollable {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
