<div class="card text-center cardContainer">
  <div class="card-header">
    Chat
  </div>
  <div class="card-body bg-dark text-white">
    <p *ngFor="let mensaje of mensajes" [ngClass]="(mensaje.id_envia === usuario.id ) ? 'enviado' : 'recibido'" >
      {{mensaje.mensaje}}
    </p>
  </div>
  <div class="card-footer text-muted">
    <div class="input-group mb-3">
      <form (ngSubmit)="enviarMensaje()">

        <input type="text" class="form-control" placeholder="Mensaje..." [(ngModel)]="nuevoMensaje" [ngModelOptions]="{standalone: true}">
        <div class="input-group-append" (click)="enviarMensaje()">
          <span class="input-group-text" id="basic-addon2">
            <img src="assets/Send.png" class="imgEnviar" width="20px">
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
