<nav class="container-fluid sidebar sidebar-offcanvas my-2">
  <ul class="nav">

      <li class="nav-item nav-profile">
          <div class="nav-link">

              <div class="user-wrapper">
                  <div class="profile-image">
                      <img [src]="usuario?.profpicture" style="width: 70%" class="rounded-circle" alt="profile image">
                  </div>

                  <div class="text-wrapper">
                      <p class="profile-name"></p>
                      <div>
                          <small class="designation text-muted" *ngIf="usuario?.role === 1">Administrador</small>
                      </div>
                  </div>
              </div>

          </div>
      </li>

      <li class="nav-item cursor w-100">
          <a class="nav-link" routerLink="/home">
            <i class="bi bi-house-fill me-2"></i>
            <span class="menu-title">Home</span>
          </a>
      </li>

      <li class="nav-item cursor w-100">
          <a class="nav-link" routerLink="/search">
            <i class="bi bi-search me-2"></i>
            <span class="menu-title">Buscar</span>
          </a>
      </li>

      <li class="nav-item cursor w-100">
          <a class="nav-link" (click)="userProfile()">
            <i class="bi bi-person-fill me-2"></i>
            <span class="menu-title">Perfil</span>
          </a>
      </li>

      <li class="nav-item cursor w-100" >
          <a class="nav-link" routerLink="/notifications">
            <i class="bi bi-bell-fill me-2"></i>
            <span class="menu-title" >Notificaciones</span>
          </a>
      </li>

      <li class="nav-item cursor w-100" >
          <a class="nav-link" routerLink="/chat/">
            <i class="bi bi-envelope-fill me-2"></i>
            <span class="menu-title" >Mensajes</span>
          </a>
      </li>

      <li class="nav-item cursor w-100">
          <a class="nav-link" (click)="logout()">
            <i class="bi bi-door-closed-fill me-2"></i>
            <span class="menu-title">Cerrar sesion</span>
          </a>
      </li>
  </ul>
</nav>

<div class="d-none d-md-block d-lg-none pointer position-absolute bottom-0 start-0 m-5 border rounded-circle p-2 bg-white"  (click)="changeTheme()"><i class="bi bi-moon text-dark ms-1 h3"></i></div>
