<nav class="sidebar sidebar-offcanvas">
  <ul class="nav">
      <li class="nav-item nav-profile">
          <div class="nav-link">

              <div class="user-wrapper">
                  <div class="profile-image">
                      <img src="assets/face1.jpg" alt="profile image">
                  </div>

                  <div class="text-wrapper">
                      <p class="profile-name"></p>
                      <div>
                          <small class="designation text-muted">Gerente</small>
                      </div>
                  </div>
              </div>

          </div>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
              <i class="menu-icon fa fa-tachometer-alt"></i>
              <span class="menu-title">Perfil</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link button" routerLink="/">
              <i class="menu-icon fa fa-clipboard-list"></i>
              <span class="menu-title">Ingresos y Egresos</span>
          </a>
      </li>
      <li class="nav-item cursor">
          <a class="nav-link btn">
              <i class=" menu-icon fa fa-sign-out-alt "></i>
              <span class="menu-title ">Cerrar sesión</span>
          </a>
      </li>

  </ul>
</nav>
