<div class="input-group mb-3 mt-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" [(ngModel)]="busqueda" (keyup)="search()" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<app-found-user *ngFor="let user of foundUsers[0]" [user]="user"></app-found-user>
<p class="text-white" *ngIf="foundUsers.length === 0">Escribe el @ de algun usuario y nosotros los encontraremos por ti </p>
