.imgEnviar:active{
  transform: scale(0.9);
}

.imgEnviar{
  background-color: transparent;
}

.cursor{
  cursor: pointer;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
