<button class="rounded-pill text-white border m-3 bg-dark" data-bs-toggle="modal"  data-bs-target="#cambiarPerfil">Editar perfil</button>

<div class="modal fade" id="cambiarPerfil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="rounded-pill bg-dark text-white border m-3" data-bs-toggle="modal"  data-bs-target="#modalFotoPerfil" data-bs-dismiss="modal">Editar foto de perfil</button>
        <button class="rounded-pill bg-dark text-white border m-3" data-bs-toggle="modal"  data-bs-target="#modalNombreUsuario"data-bs-dismiss="modal">Editar nombre de usuario</button>
        <button class="rounded-pill bg-dark text-white border m-3" data-bs-toggle="modal"  data-bs-target="#" data-bs-dismiss="modal">Editar contraseña</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger border-0" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalFotoPerfil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content bg-dark">
      <div class="modal-header ">
        <h5 class="modal-title" id="staticBackdropLabel">Cambiar foto de perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        <input type="file" id="file" accept="image/*" (change)="cambiarFotoPerfil($event)">

        <image-cropper
        [imageChangedEvent]="imgChangeEvt"
        [aspectRatio]="4/4"
        [maintainAspectRatio]="true"
        [resizeToWidth]="256"
        format="png"
        (imageCropped)="recortarImagen($event)"
        ></image-cropper>

        <img [src]="prevImagenRec">
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-danger border-0" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success border-0" (click)="guardarFotoPerfil()" data-bs-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalNombreUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog bg-dark">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title" id="staticBackdropLabel">Cambiar nombre de usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark">
        <form action="#">
          <label for="name">Nombre de usuario: </label>
          <input id="name" type="text" [formControl]="username">
        </form>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-danger border-0" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success border-0" data-bs-dismiss="modal" (click)="editarUsername()">Guardar</button>
      </div>
    </div>
  </div>
</div>
