<div class="chatIconContainer">
  <i class="bi bi-envelope-fill " (click)="mostrarChat = true"></i>
</div>


<div class="card text-center chat" *ngIf="mostrarChat">
  <div class="card-header">
    CHAT
    <div class="closeIcon" (click)="mostrarChat = false">X</div>
  </div>
  <div class="card-body contenedorMsj " id="contenedorMsj">
    <div class=" h-100">
      <p *ngFor="let mensaje of mensajes" class="p-2 msj" [ngClass]="( mensaje.emisor === '1' ) ? 'enviado' : 'recibido'">
        {{mensaje.texto}}
      </p>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingrese su mensaje" [(ngModel)]="nuevoMensaje">
      <span class="input-group-text imgEnviar" id="basic-addon2"> <img src="assets/Send.png" width="20px" (click)="enviarMensaje()"> </span>
    </div>
  </div>
</div>
