.chat{
  width: 300px;
  height: 500px;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

.card-header{
  background-color: cornflowerblue;
}

.card-body{
  padding: 0.5rem;
  background-image: url("/assets/background_chat.jpg");
}

.imgEnviar:active{
  transform: scale(0.9);
}

.enviado{
  display: block;
  float: right;
  color: white;
  background-color: teal;
  border-radius: 10px;
  min-width: 50.01%;
  text-align: left;
}

.recibido{
  display: block;
  float: left;
  color: white;
  background-color: gray;
  border-radius: 10px;
  min-width: 50.01%;
  text-align: left;
}

.contenedorMsj{
  overflow: scroll;
  padding: 0.3rem;
}

.chatIconContainer{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: gray;
  border-radius: 100%;
  box-shadow: 0 0 10px 2px rgb(71, 71, 71);
}
