<div class="container-fluid p-0">
  <footer class="">
    <ul class="nav justify-content-center d-flex flex-row justify-content-around">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <i class="bi bi-house-fill h6"></i>
        </a>
      </li>

      <li class="nav-item cursor">
        <a class="nav-link" routerLink="/search">
          <i class="bi bi-search h6"></i>
        </a>
      </li>

      <li class="nav-item cursor" >
        <a class="nav-link" routerLink="/notifications">
          <i class="bi bi-bell-fill h6"></i>
        </a>
      </li>

      <li class="nav-item cursor">
        <a class="nav-link" (click)="userProfile()">
          <i class="bi bi-person-fill h6"></i>
        </a>
      </li>

      <li class="nav-item cursor" >
        <a class="nav-link" routerLink="/chat/">
          <i class="bi bi-envelope-fill h6"></i>
        </a>
      </li>

      <li class="nav-item cursor">
        <a class="nav-link" (click)="logout()">
          <i class="bi bi-door-closed-fill h6"></i>
        </a>
    </li>
    </ul>
  </footer>
</div>
